# fly.toml app configuration file generated for treadmill-sparkling-pine-7517 on 2025-12-10T02:36:42-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'treadmill-sparkling-pine-7517'
primary_region = 'sjc'

[env]
FLY = "true"

[build]

[[mounts]]
  source = 'data'
  destination = '/data'
  size_gb = 1

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
